body,
header {
    background-color: #6FB3BB;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, 
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #BADFE7;
    color: #C2EDCE;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #C2EDCE;
}

footer a {
    color: #C2EDCE;
}

nav,
.msg,
footer {
    background-color: #388087;
    color: #C2EDCE;
}

nav a:hover,
.book:hover, 
.join:hover {
    background-color: #BADFE7;
    color: #6FB3BB;
}

.join,
.book {
    background-color: #388087;
    color: #C2EDCE;
    text-decoration: none;
}

footer a
{
    text-decoration: none;
}

.logo,
.icon
{
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}